*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Verdana,sans-serif;
    background-color: #fbf9fe;
}
#calendar{
    width:75%;
    min-width: 380px;
    margin:30px auto;
}
#btnc{
    float:right;
    margin-top:5px;
    width:100px;
    height:30px;
    border:1px solid #FF8C00;
    background-color: #fbf9fe;
    color:#FF8C00;
    border-radius: 8px;
}
h1{
    text-align: center;
    color:#FF8C00;
    /*margin-bottom:30px;*/
}
h3{
    text-align: center;
    color:#FF8C00;
    margin-bottom:30px;
}
#calendar-navbar{
    display: flex;
    overflow: hidden;
    height:60px;
    line-height: 60px;
    background-color: #fff;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom:15px;
}
#calendar-navbar a{
    width:30%;
    color:#000;
    font-size: 22px;
}
#calendar-head{
    overflow: hidden;
    display: flex;
}
#calendar-head span{
    flex:1;
    height:47px;
    text-align: center;
}
#calendar-body{
    width:100%;
}
#calendar-body tr{
    overflow: hidden;
    display: flex;
}
#calendar-body td{
    flex:1;
    text-align: center;
    height:73px;
    padding: 0 5px;
}
td span{
    margin:0 auto;
    width:36px;
    display: block;
    padding: 8px 0;
    text-align: center;
}

.eventIsShow{
    border:1px solid #FF8C00;
    border-radius: 50%;
    background-color: #fff;
    color:#FF8C00;
}
.today{
    background-color: #FF8C00;
    border-radius: 50%;
    color:#fff;
}
.event-title{
    width:40px;
    font-size:13px;
    color:#FF8C00;
}
